.qing { color: #FF0000; } /* 清 Qing */
.tang { color: #0002B0; } /* 唐 Tang */
.northern-song { color: #43FF00; } /* 北宋 Northern Song */
.ming { color: #FFC90E; } /* 明 Ming */
.southern-song { color: #650091; } /* 南宋 Southern Song */
.five-dynasties { color: #72B300; } /* 五代十國 Five Dynasties and Ten Kingdoms */
.ming-qing { color: #5E3500; } /* 明 清 Ming-Qing */
.yuan { color: #FFB077; } /* 元 Yuan */
.sui { color: #007061; } /* 隋 Sui */
.liu-song { color: #F354FF; } /* 劉宋 Liu Song */
.southern-liang { color: #97FFDB; } /* 南梁 Southern Liang */
.southern-qi { color: #46611B; } /* 南齊 Southern Qi */
.eastern-jin { color: #5C79FF; } /* 東晉 Eastern Jin */
.song { color: #AD1F78; } /* 宋 Song */
.chen { color: #FFFA88; } /* 陳 Chen */