body {
    font-family: Arial, sans-serif;
    background-color: grey;
    
}
#plot1 {
    width: 100%;
    height: 600px;
}
#plot2 {
    width: 100%;
    height: 600px;
}
#plot3 {
    width: 100%;
    height: 600px;
}